<li><a href="#home/index"><%=Localiztion.Layout.MainMenu.Home%></a></li>
<li><a href="#settings/index"><%=Localiztion.Layout.MainMenu.Settings%></a></li>
<li><a href="#shop/index"><%=Localiztion.Layout.MainMenu.Shop%></a></li>
<li><a href="#designs/index"><%=Localiztion.Layout.MainMenu.Design%></a></li>
<li><a href="#orders/index"><%=Localiztion.Layout.MainMenu.Orders%></a></li>
<li><a href="#product/index"><%=Localiztion.Layout.MainMenu.Products%></a></li>
<li><a href="#categories/index"><%=Localiztion.Layout.MainMenu.Categories%></a></li>
<li><a href="#designs/index"><%=Localiztion.Layout.MainMenu.Themes%></a></li>
<li><a href="#promotions/index"><%=Localiztion.Layout.MainMenu.Promotions%></a></li>