<ul>
        <li>
              <label>Client Name:</label>
              <input type="text" id="txtClientName" maxlength="45" />  
        </li>
        <li>
              <label>User Name:</label>
              <input type="text" id="txtUserName" maxlength="45" />  
        </li>
        <li>
              <label>Password:</label>
              <input type="password" id="txtPassword" maxlength="45" /> 
                
        </li>
        <li>
              <input type="submit" id="btnLogin" /> 
        </li>
</ul>