<html>
<head>
	<title>Dear <%= @User %></title><meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
<body>
	<h1>Dear <%= @User %> ,</h1>
	<h2>Welcome to Feelike!</h2>
	<p>
		Feelike is a social content network that recommends movies, music, books and entertainment to you - based on your feelings and experiences.<br />
		you been following by <%= @ByUser %>
		Sincerely,<br />
		The Feelike team.<br />
		<a href="mailto:info@feelike.com">info@feelike.com</a>
	</p>
</body>
</html>